body{
	width: 700px;
	height: 500px;
}

#groupButtons{
	border-collapse: collapse;
}

#groupButtons th, #groupButtons td{
	border: 1px solid black;
	width: 4em;
}

#groupButtons td:hover{
	background: grey;
}

#groupButtons .linksContainer {
	position: relative;
}

#groupButtons .linksContainer > .links {
	width: 500px;
	display: none;
	position: absolute;
	/*need better height*/
	margin: -1.5em 0 0 4em;
	background: white;
	/*no border when nothing there...*/
	border: 1px solid black;
}

.links a {
	display: block;
}

#groupButtons td:hover .links {
	display: block;
}